<section class="text-gray-600 p-10 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">Piriodic maintenance</span>
            <span class="mt-1 text-gray-500 text-sm">12 Jun 2023</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"> Scheduled Routine Maintenance Notification for Your Property</h2>
     <p class="leading-relaxed">Dear [××××],

        We trust this message finds you well. This is a gentle reminder about the upcoming scheduled routine maintenance for your property located at [***].
        
        🔧 **Maintenance Details:**
        - Date: [***]
        - Time: [****]
        - Services: [***]
        
        We prioritize maintaining the ongoing quality and functionality of your property. If you have any questions or need to reschedule, please reach out to our maintenance department at [****].
        
        Thank you for your attention to this matter.
        
        Best Regards [ZaESTATE],</p>
           
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">Warranty period alert</span>
            <span class="mt-1 text-gray-500 text-sm">10 August 2023</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Warranty Expiration Alert for Your Property</h2>
            <p class="leading-relaxed">Hi [mr younes],

                Your property's warranty is expiring soon. Please take note of the details:
                
                🕒 **Warranty Expiry:**
                - Date: [***]
                - Services: [***]
                
                Consider reviewing covered services and scheduling any needed maintenance. For questions or assistance, contact our warranty team at [***].
                
                Thanks for choosing us!
                
                Best,
                [ZaESTATE].</p>
            
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">Service Updates</span>
            <span class="text-sm text-gray-500">20 November 2023</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Service Updates Notification for Your Property
            </h2>
            <p class="leading-relaxed">Dear [Mr younes],

                We hope this message finds you well. We want to inform you about the latest updates and nearby services that might be beneficial for your property at [Property Address].
                
                 **Service Updates:**
                - Service Type: [***]
                - Start Date: [***]
                - More Details: [***]
                
                Please take a moment to review these updates, and feel free to reach out if you need more information or would like to take advantage of any additional services.
                
                Thank you for choosing our services, and we look forward to continuing to serve you.
                
                Best Regards,
                [ZaESTATE].</p>
          
          </div>
        </div>
      </div>
    </div>
  </section>
