<section class="p-20  bg-red-400 ">

    <div class=" bg-white p-8   shadow-xl  top-search flex flex-col gap-3">
        <div class="w-full">
            <p class="text-base w-fit font-medium  rounded-lg px-4 py-2 bg-[#f9e2ae] text-[#835b00]">Ticket</p>
        </div>
        <div>
            <p class="text-[#616161]">Anonymous</p>
        </div>
        <div>
            <p class="font-medium">What's your Problem today ?</p>
        </div>
       <form>
            <input type="text"    placeholder="Type your Ticket" class=" w-full mb-4 outline-none px-2 py-2 bg-[#f5f5f5]">
            <div class="w-full flex flex-row  justify-end">
                <button class="w-fit px-4 py-2 font-medium bg-[#897b50] text-white">Send</button>
            </div>
      </form>
    </div>

</section>
  