<section class="p-20 w-full">

    <div class=" bg-white p-8 shadow-xl  top-search flex flex-col gap-3">
        <div class="w-full">
            <p class="text-base w-fit font-medium  rounded-lg px-4 py-2 bg-[#f9e2ae] text-[#835b00]">Ticket</p>
        </div>
        <div>
            <p class="text-[#616161]">Anonymous</p>
        </div>
        <div>
            <p class="font-medium">What's your Problem today ?</p>
        </div>
       <form>
            <textarea name="" id="" cols="160" rows="5" placeholder="Type your Ticket" class="  outline-none px-2 py-2 bg-[#f5f5f5]" ></textarea>
            <div class="w-full flex flex-row  justify-end">
                <button class="w-fit px-4 py-2 font-medium bg-[#897b50] text-white">Send</button>
            </div>
      </form>
    </div>

    <p class="py-10 font-medium text-5xl text-[#808080]">Your Tickets</p>

    <div class="cards flex flex-col gap-4">
        <div class="card bg-white shadow-md p-8 flex flex-col gap-8">
            <div class="top flex flex-row items-center gap-2">
                <img class="w-[4%]" src="/assets/images/profile-user.png" alt="">
                <div class="flex flex-col">
                        <p class="font-medium text-2xl text-[]">You</p>
                        <p class="font-medium text-base text-[#616161]">Aadi Kapoor requests an approval</p>
                </div>
            </div>

            <div class="under">
                <p class="text-2xl ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur assumenda, nobis expedita debitis ipsa pariatur ullam similique
                    eius laboriosam quibusdam sequi quod minima a aperiam, sapiente at
                     doloribus, ipsum deleniti!</p>
            </div>

        </div>
        
        <div class="card bg-white shadow-md p-8 flex flex-col gap-8">
            <div class="top flex flex-row items-center gap-2">
                <img class="w-[4%]" src="/assets/images/profile-user.png" alt="">
                <div class="flex flex-col">
                        <p class="font-medium text-2xl text-[]">You</p>
                        <p class="font-medium text-base text-[#616161]">Aadi Kapoor requests an approval</p>
                </div>
            </div>

            <div class="under">
                <p class="text-2xl ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur assumenda, nobis expedita debitis ipsa pariatur ullam similique
                    eius laboriosam quibusdam sequi quod minima a aperiam, sapiente at
                     doloribus, ipsum deleniti!</p>
            </div>

        </div>

        <div class="card bg-white shadow-md p-8 flex flex-col gap-8">
            <div class="top flex flex-row items-center gap-2">
                <img class="w-[4%]" src="/assets/images/profile-user.png" alt="">
                <div class="flex flex-col">
                        <p class="font-medium text-2xl text-[]">You</p>
                        <p class="font-medium text-base text-[#616161]">Aadi Kapoor requests an approval</p>
                </div>
            </div>

            <div class="under">
                <p class="text-2xl ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur assumenda, nobis expedita debitis ipsa pariatur ullam similique
                    eius laboriosam quibusdam sequi quod minima a aperiam, sapiente at
                     doloribus, ipsum deleniti!</p>
            </div>

        </div>

        <div class="card bg-white shadow-md p-8 flex flex-col gap-8">
            <div class="top flex flex-row items-center gap-2">
                <img class="w-[4%]" src="/assets/images/profile-user.png" alt="">
                <div class="flex flex-col">
                        <p class="font-medium text-2xl text-[]">You</p>
                        <p class="font-medium text-base text-[#616161]">Aadi Kapoor requests an approval</p>
                </div>
            </div>

            <div class="under">
                <p class="text-2xl ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur assumenda, nobis expedita debitis ipsa pariatur ullam similique
                    eius laboriosam quibusdam sequi quod minima a aperiam, sapiente at
                     doloribus, ipsum deleniti!</p>
            </div>

        </div>
    
    
    </div>
</section>
  