<section class="login-section  h-screen">

  <!-- container -->
  <div class="container flex flex-row justify-center items-center h-screen  ">
    <!-- card -->
    <div class="card relative  pr-4 items-center gap-4 rounded-lg flex shadow-2xl bg-[#fffefc]">
        <!-- ellips  -->
        <!-- <img  class="absolute w-[30%] opacity-80  right-0 top-0" src="/assets/svg/round.svg" alt=""> -->
        <!-- left image  -->
        <img class="w-[350px] rounded-lg" src="/assets/images/bulding.jpg" alt="">
          <!-- right  -->
          <div class="flex py-2 right mr-4  flex-col gap-2">
          <!-- logo -->
         
          <!-- paragraph -->
          <div class=" w-fit m-auto mb-20 text-center">
              <p class=" para relative text-xl uppercase font-medium">welcom to <span class="uppercase text-[#9E896A]">za</span>estate</p>
          </div>

          <!-- form -->
          <form class="flex flex-col gap-6 ">
              <input class="w-[350px] py-2  pl-2  outline-none" type="email" placeholder="Please enter your email ">
              <input class="w-[350px] py-2  pl-2  outline-none" type="email" placeholder="Please enter your password ">    
              <button class="uppercase relative  py-2 rounded-md font-medium">login</button>
          </form>
        </div>
    </div>
  </div>
</section>